<div
	class="card"
	*ngIf="material"
	[ngClass]="{
		'card-1': material.category === 'File',
		'card-2': material.category === 'Text',
		'card-3': material.category === 'Video'
	}"
>
	<a (click)="onDelete()" class="card__delete"><i class="fas fa-times"></i></a>
	<p class="card__category">{{ material.category }}</p>
	<h3 class="card__title">
		{{ material.title }}
	</h3>
	<p class="card__apply">
		<a class="card__link" [routerLink]="['material-view', material.id]" >View <i class="fas fa-arrow-right"></i></a>
	</p>
</div>
